asgiref==3.3.1
attrs==20.3.0
autobahn==20.12.3
Automat==20.2.0
certifi==2018.8.24
cffi==1.14.4
channels==3.0.3
chardet==3.0.4
configobj==5.0.6
constantly==15.1.0
cryptography==3.3.1
cupshelpers==1.0
daphne==3.0.1
defusedxml==0.5.0
distro==1.3.0
distro-info==0.21
Django==3.1.5
docopt==0.6.2
evdev==1.1.2
hyperlink==21.0.0
idna==2.6
img2pdf==0.3.3
incremental==17.5.0
Jinja2==2.11.2
lightdm-gtk-greeter-settings==1.2.2
lxml==4.3.2
MarkupSafe==1.1.1
mugshot==0.4.1
onboard==1.4.1
pdfarranger==1.6.2
pexpect==4.6.0
pikepdf==1.0.5+dfsg
Pillow==5.4.1
protonvpn-cli==2.2.6
psutil==5.5.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycparser==2.20
pycups==1.9.73
pycurl==7.43.0.2
PyGObject==3.30.4
PyHamcrest==2.0.2
pyOpenSSL==20.0.1
pysmbc==1.0.15.6
python-apt==1.8.4.3
python-debian==0.1.35
python-xlib==0.23
pythondialog==3.5.1
pytz==2020.5
pyudev==0.21.0
pyxdg==0.25
reportlab==3.5.13
requests==2.21.0
rpl==1.5.6
service-identity==18.1.0
six==1.12.0
sqlparse==0.4.1
Twisted==20.3.0
txaio==20.12.1
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.1
vboxapi==1.0
zope.interface==5.2.0
