{% load crispy_forms_tags %}
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

		<title>{{ room_name }}</title>
		<link rel="stylesheet" href="{% static 'chatapp/chat.css' %}" type="text/css">
		<style>
			.other-user {
				position: relative;
				text-align: right;
				right: 0;
				background-color: rgb(99, 7, 99);
				margin-left: auto;
			}
			.other-user h5 { 
				background-color: rgb(68, 10, 68);
				padding: 5px;
				border-radius: 15px;
			}
			.self-user {
				background-color: rgb(40, 33, 106);
			}
			.self-user h5 { 
				background-color: rgb(35, 28, 91);
				padding: 5px;
				border-radius: 15px;
			}
		</style>
</head>

<body  style="background-color: #071a52; color:#ffcdab;">

	<div class="loader-container hidden">
		<div class="loader">
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<div class="drip"></div>
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
				<defs>
					<filter id="goo">
						<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
						<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
						<feBlend in="SourceGraphic" in2="goo" />
					</filter>
				</defs>
			</svg>
		
		</div>
		<h1>Loading</h1>
	</div>

	<header class="site-header">
        <nav style="background-color: #086972;" class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'home' %}">RedEast Chat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
              </div>
              <!-- Navbar Right Side -->
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a> 
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a> 
                {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
          </div>
        </nav>
	</header>

	<br><br><br>
	<div class="chat container">
		<div class="side-box">

			<div class="container"> <br>
				<div class="row d-flex justify-content-center">
					<form onsubmit="return false">
						<div class="form-group" style="text-align: center;">
							<label for="exampleFormControlTextarea1" class="h4 pt-5">{{ room_name }}</label>
							<div style="height: auto; width: auto;">
								<textarea class="form-control" id="chat-text" rows="15" placeholder="{% if not user.is_authenticated %}you will not be able to see the messages till you log in{% else %}Waiting for messages...{% endif %}"
									style="resize: none; outline: none; overflow: auto; background-color: #071a52; color: white; width: 100%;"
									value=""
									disabled
								>
								</textarea>
							</div><br>
						</div>
								<!-- <div class="form-group">
									<input class="form-control" id="input" type="text" autocomplete="off">
									</br>
								</div>
								{% if user.is_authenticated %}
								<input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="Send" style="background: linear-gradient(to right, rgb(221, 62, 84), #17b978);">
								{% else %}
								<a class="btn btn-secondary btn-lg btn-block" type="button" href="{% url 'login' %}">Log in first</a>
								{% endif %} -->
					</form>
				</div>
				
				{% if user.is_authenticated %}
				<button id="tester" style="margin-left: 50%;transform: translate(-50%, 0);">
					testing button
				</button>
				{% endif %}
			</div>

		</div>
		<div class="chat-holder">
		<div class="message-box">
		
				<div class="message other-user">
					<h5 class="name" onclick='console.log(this.innerHTML = ("<h6>" + new Date().toString().slice(16, 24) + "</h6> | " + this.innerHTML))'>
						RedEast Chat Site
					</h5>
					<h2 class="msg-text">
						{% if not user.is_authenticated %}you will not be able to see the messages till you log in{% else %}Welcome To The Chat!{% endif %}
					</h2>
				</div>
			
		</div>
		</div>
		<div class="scnd-row">
			<div class="change-group">
				<div class="row d-flex justify-content-center">
					<br>
					<form action="" method="post">
						{% csrf_token %}
						<div class="form-group" style="text-align: center; font-size: 20px;">
							<h2>Enter New Group</h2>
							{{ group_add.group_name }}
						</div>
					</form>
				</div>
			</div>
			<div class="send-msg">
				<div class="form-group">
					<textarea class="form-control" id="input" type="text" autocomplete="off" style="resize: none;" rows="3"></textarea>
					</br>
				</div>
				{% if user.is_authenticated %}
				<input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="Send" style="background: linear-gradient(to right, rgb(221, 62, 84), #17b978);">
				{% else %}
				<a class="btn btn-secondary btn-lg btn-block" type="button" href="{% url 'login' %}">Log in first</a>
				{% endif %}
			</div>
		</div>
	</div>
	{{ request.user.username|json_script:"user_username" }}
	{{ room_name|json_script:"room-name" }}
	<script src="{% static 'chatapp/chat.js' %}"></script>
</body>
</html>