{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block first-title %}
  This is Profile
{% endblock %}
{% block title %}
  Bruh
{% endblock %}

{% block buttons %}
  <div class="content-section">
    <div class='media'>
      <img class='rounded-circle bg-dark account-img' src='{{ user.profile.image.url }}'>
      <div class='media-body'>
        <h2 class='account-heading'>{{ user.username }}</h2>
        <p class='text-secondary'>{{ user.email }}</p>
      </div>
    </div>
  </div>

{% endblock %}

{% block nav %}
<a
href="{% url 'home-url' %}"
class="h-links"
>Home</a>
{% endblock %}