{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block first-title %}
  The Profile Section Is Under Construction
{% endblock %}
{% block title %}
  But It Doesn't mean We'll Not Make It Available lol
{% endblock %}

{% block buttons %}
  <div class="content-section">
    <div class='media'>
      <img class='rounded-circle bg-dark account-img' src='{{ user.profile.image.url }}'>
      <div class='media-body'>
        <h2 class='account-heading profile'>{{ user.username }}</h2>
        <p class='text-secondary profile'>{{ user.email }}</p>
      </div>
      <br>
        <a
        href="{% url 'logout' %}"
        class="h-links"
        >Logout</a>
    </div>
  </div>

{% endblock %}

{% block nav %}
<a
href="{% url 'home-url' %}"
class="h-links"
>Home</a>
{% endblock %}