* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
  background: rgb(41, 0, 75);
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  z-index: -1;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(72, 0, 131);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(41, 0, 75);
  border-radius: 5px;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.hidden {
  animation: fadeOut 1s 2s;
  animation-fill-mode: forwards;
}
.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(41, 0, 75);

  .loader {
    width: 300px;
    height: 230px;
    position: absolute;
    overflow: hidden;
    border-top: 15px solid rgb(255, 0, 0);
    border-bottom: 15px solid rgb(255, 0, 0);
    border-radius: 10px;
    filter: url("#goo");

    .drip {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background: rgb(255, 0, 0);
      position: absolute;
      top: -100%;
      animation: falling 5s linear infinite;
    }

    @keyframes falling {
      0% {
        top: -100%;
      }
      50% {
        top: 0%;
      }
      80% {
        top: 80%;
      }

      100% {
        top: 100%;
      }
    }

    @for $i from 1 through 20 {
      .drip:nth-child(#{$i}) {
        border-color: rgb(255, 0, 0);
        $size: random(40) + px;
        height: $size;
        width: $size;
        animation-delay: -$i * 0.2s;
        background: rgb(255, 0, 0);
        left: random(180) + px;
        margin-left: 60px;
      }
    }
  }
}




.chat {
  display: table;
  width: 100%;
  height: 80%;
}
.side-box {
  width: 20%;
  height: 50%;
  background-color: rgb(58, 79, 110);
  position: relative;
  left: 0;
  display: table-cell;
  border-top-left-radius: 30px;
}
.chat-holder {
  background-image: url('https://cdn.discordapp.com/attachments/573914557102292993/801047867262763018/bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 60%;
  right: 0;
  display: table-cell;
  border-top-right-radius: 10px;
  padding: 5px;
}
.message-box {
  width: 100%;
  height: 100%;
  overflow: auto;

}
.message {
  background: #000;
  width: fit-content;
  height: auto;
  min-height: 50px;
  min-width: 30%;
  max-width: 80%;
  border-radius: 15px;
  padding: 7px;
  margin: 15px;
  word-wrap: break-word;
}
.msg-container {
  width: 100%;
  position: relative;
  text-align: center;
}
.other-user {
  position: relative;
  text-align: right;
  right: 0;
  background-color: rgb(99, 7, 99);
  margin-left: auto;
}
.other-user.h5 { 
  background-color: rgb(68, 10, 68);
  padding: 5px;
  border-radius: 15px;
}
.self-user {
  background-color: rgb(40, 33, 106);
}
.self-user.h5 { 
  background-color: rgb(35, 28, 91);
  padding: 5px;
  border-radius: 15px;
}
.chat button, .change-group {
  display: table-cell;
}
.change-group {
  display: table-cell;
  width: 30%;
  background: linear-gradient(to top, rgb(169, 51, 92), rgb(58, 79, 110));
  border-bottom-left-radius: 30px;
}
.scnd-row {
  display: table-row;
}
.send-msg {
  display: table-cell;

  
  background-color: rgb(33, 1, 68);
  padding: 5px;
  height: 10%;
  border-bottom-right-radius: 10px;
}