* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader-container.hidden {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #29004b;
}

.loader-container .loader {
  width: 300px;
  height: 230px;
  position: absolute;
  overflow: hidden;
  border-top: 15px solid red;
  border-bottom: 15px solid red;
  border-radius: 10px;
  -webkit-filter: url("#goo");
          filter: url("#goo");
}

.loader-container .loader .drip {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: -100%;
  -webkit-animation: falling 5s linear infinite;
          animation: falling 5s linear infinite;
}

@-webkit-keyframes falling {
  0% {
    top: -100%;
  }
  50% {
    top: 0%;
  }
  80% {
    top: 80%;
  }
  100% {
    top: 100%;
  }
}

@keyframes falling {
  0% {
    top: -100%;
  }
  50% {
    top: 0%;
  }
  80% {
    top: 80%;
  }
  100% {
    top: 100%;
  }
}

.loader-container .loader .drip:nth-child(1) {
  border-color: red;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  background: red;
  left: 44px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(2) {
  border-color: red;
  height: 36px;
  width: 36px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  background: red;
  left: 178px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(3) {
  border-color: red;
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  background: red;
  left: 2px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(4) {
  border-color: red;
  height: 35px;
  width: 35px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  background: red;
  left: 151px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(5) {
  border-color: red;
  height: 37px;
  width: 37px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  background: red;
  left: 109px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(6) {
  border-color: red;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  background: red;
  left: 29px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(7) {
  border-color: red;
  height: 37px;
  width: 37px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  background: red;
  left: 49px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(8) {
  border-color: red;
  height: 25px;
  width: 25px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  background: red;
  left: 64px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(9) {
  border-color: red;
  height: 36px;
  width: 36px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  background: red;
  left: 170px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(10) {
  border-color: red;
  height: 25px;
  width: 25px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  background: red;
  left: 159px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(11) {
  border-color: red;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  background: red;
  left: 117px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(12) {
  border-color: red;
  height: 40px;
  width: 40px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  background: red;
  left: 144px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(13) {
  border-color: red;
  height: 20px;
  width: 20px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  background: red;
  left: 93px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(14) {
  border-color: red;
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  background: red;
  left: 75px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(15) {
  border-color: red;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  background: red;
  left: 54px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(16) {
  border-color: red;
  height: 24px;
  width: 24px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  background: red;
  left: 123px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(17) {
  border-color: red;
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  background: red;
  left: 92px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(18) {
  border-color: red;
  height: 29px;
  width: 29px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  background: red;
  left: 39px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(19) {
  border-color: red;
  height: 33px;
  width: 33px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  background: red;
  left: 116px;
  margin-left: 60px;
}

.loader-container .loader .drip:nth-child(20) {
  border-color: red;
  height: 29px;
  width: 29px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  background: red;
  left: 159px;
  margin-left: 60px;
}

.chat {
  display: table;
  width: 100%;
  height: 80%;
}

.side-box {
  width: 20%;
  height: 50%;
  background-color: #3a4f6e;
  position: relative;
  left: 0;
  display: table-cell;
  border-top-left-radius: 30px;
}

.chat-holder {
  background-image: url("https://cdn.discordapp.com/attachments/573914557102292993/801047867262763018/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 60%;
  right: 0;
  display: table-cell;
  border-top-right-radius: 30px;
  padding: 5px;
}

.message-box {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.message {
  background: #000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  min-height: 50px;
  min-width: 30%;
  max-width: 80%;
  border-radius: 15px;
  padding: 7px;
  margin: 15px;
  word-wrap: break-word;
}

.msg-container {
  width: 100%;
  position: relative;
  text-align: center;
}

.other-user {
  position: relative;
  text-align: right;
  right: 0;
  background-color: #630763;
  margin-left: auto;
}

.other-user.h5 {
  background-color: #440a44;
  padding: 5px;
  border-radius: 15px;
}

.self-user {
  background-color: #28216a;
}

.self-user.h5 {
  background-color: #231c5b;
  padding: 5px;
  border-radius: 15px;
}

.chat button, .change-group {
  display: table-cell;
}

.change-group {
  display: table-cell;
  width: 30%;
  background: -webkit-gradient(linear, left bottom, left top, from(#a9335c), to(#3a4f6e));
  background: linear-gradient(to top, #a9335c, #3a4f6e);
  border-bottom-left-radius: 30px;
}

.scnd-row {
  display: table-row;
}

.send-msg {
  display: table-cell;
  background-color: #210144;
  padding: 5px;
  height: 10%;
  border-bottom-right-radius: 30px;
}
/*# sourceMappingURL=chat.css.map */